{
  // "presets": ["next/babel"],
  // "plugins": [["styled-components", { "ssr": true }]]
  // "plugins":[["styled-components",{"ssr":true}]]
  // "plagins":[["styled-components",{"ssr":true}]]
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]]
}
